body{
  margin: 0;
}
.header{
  background: #000;
  color:#fff;
  width:100%;
  min-width: 100vw;
  height: 10%;
  min-height: 10vh;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.header h1{
  margin: 0;
}

.filter{
  width: calc(20% - 30px);
  min-width: calc(20vw - 30px);
  height: 100%;
  min-height: 100vh;
  background: blue;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 15vh;
  padding-left: 30px;
}

.map-area{
  margin-top: 10vh;
  margin-left: 20%;
  background: yellowgreen;
  height: 1000px;
  width: 1000px;
  min-width: calc(100vw - 20%);
  min-height: 90vh;
  overflow: hidden;
}

.map-marker-current{
  color:red;
  font-size: 24px;
}

.student{
  color: blue;
}
